<app-loader *ngIf="is_loading"></app-loader>
<div class="upload-container">
  <div class="upload-form">
    <mat-card>
        <mat-card-actions>
          Choose a .csv file
          <button mat-raised-button color="primary" (click)="onFileUpload()">
            <mat-icon>file_upload</mat-icon>
            Upload
          </button>
        </mat-card-actions>
      </mat-card>
      <input type="file" #fileInput id="fileUpload" name="fileUpload" multiple accept=".csv, text/csv" style="display: none;" />
  </div>
</div>

<div class="results-container">
    <div class="result-container" *ngFor="let result of results; trackBy: trackByFunc">
        <mat-card>
          <mat-card-title>
            <div class="mat-card-title">{{ result.filename }}</div>
            <div class="mat-card-close" (click)="removeAfterConfirmation(result.id)">
              <span class="material-icons">
                close
                </span>
            </div>
          </mat-card-title>
          <mat-card-content>
              <div class="file-meta">
                <div class="label">RESTful Url: </div> <div class="value">{{ result.url }}</div>
                <div class="copy-icon" (click)="copyUrlToClipboard(result.url)">
                  <span class="material-icons">
                    file_copy
                    </span>
                </div>
              </div>
              <div class="file-meta">
                <div class="label">Validity: </div> <div class="value">{{ result.validity }}</div>
              </div>
          </mat-card-content>
          <mat-card-actions>
            <a mat-raised-button color="primary" href="{{result.url}}?format=json" target="_blank">Visit</a>
            <a mat-raised-button color="primary" [routerLink]="[ '/data', result.id]">View</a>
          </mat-card-actions>
        </mat-card>
    </div>
</div>