.error-container {
    display: flex;
    height: 400px;

    .error {
        margin: auto;
        text-align: center;

        .error-title {
            font-size: 36px;
        }
        .error-description {
            margin: 10px 0;
        }
        .error-help{

        }
    }
}

